body{
    text-align: center;
    background-color: gray;
}
table{
    width: 30%;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid black;

}
td, th{
    width: 30%;
    margin: auto;
    border: 1px solid black;
    padding: 8px;
    max-width: 100%;
}
#thermo{
    width: 70px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;    
    margin: auto;

}
.level{
    background-color: blue;
    height: 50px;
    width: 70px;
    margin-top: 150px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    text-align: center;
    height: 100px;
}
section{
    border: 1px solid black;
    width: 80%;
    padding: 50px;
    margin: auto;
    background-color: white;
}
